<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/pt-br.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="SimulacaoController">

    <ion-pane>
      <ion-header-bar class="bar-balanced">
        <h1 class="title">Simulação Salarial - Novo PCCTAE</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Ano Base:
            </div>
            <select ng-model="ano_base" ng-options="ano_base.texto for ano_base in configuracao_inicial.ano_base" ng-change="getVencimentoBasico(ano_base, posicao_tabela)">
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Qualificação:
            </div>
          
            <select ng-model="qualificacao" ng-options="qualificacao.texto for qualificacao in configuracao_inicial.qualificacao" ng-change="getIncentivoQualificacao(qualificacao, relacao, vencimento_basico)">
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Relação:
            </div>
            <select ng-model="relacao" ng-options="relacao.texto for relacao in configuracao_inicial.relacao" ng-change="getIncentivoQualificacao(qualificacao, relacao, vencimento_basico)">
            </select>
          </label>

          <label class="item item-input">
            <span class="input-label">Percentual:</span>
            <input type="text" value="{{ relacao.valor == 1 ? qualificacao.percentual_direta : qualificacao.percentual_indireta }}%" disabled="disabled" style="text-align: right; background:#fff;" />
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Classe:
            </div>
            <select ng-model="classe" ng-options="classe.texto for classe in configuracao_inicial.classe" ng-change="getPosicaoTabela(classe, nivel); getVencimentoBasico(ano_base, posicao_tabela); getIncentivoQualificacao(qualificacao, relacao, vencimento_basico);">
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Nível:
            </div>
            <select ng-model="nivel" ng-options="nivel.valor for nivel in configuracao_inicial.nivel" ng-change="getPosicaoTabela(classe, nivel); getVencimentoBasico(ano_base, posicao_tabela); getIncentivoQualificacao(qualificacao, relacao, vencimento_basico);">
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Posição na Tabela:</span>
            <input type="text" value="{{ posicao_tabela.texto }}" disabled="disabled" style="text-align: right; font-weight:bold; background:#fff;" />
          </label>
          <label class="item item-input">
            <span class="input-label">Vencimento Básico:</span>
            <input type="text" value="{{ vencimento_basico.valor | currency }}" disabled="disabled" style="text-align: right; font-weight:bold; background:#fff;" />
          </label>
          <label class="item item-input">
            <span class="input-label">Incentivo a Qualif.:</span>
            <input type="text" value="{{ incentivo_qualificacao | currency }}" disabled="disabled" style="text-align: right; font-weight:bold; background:#fff;" />
          </label>
          <label class="item item-input">
            <span class="input-label">Auxílio  Alimentação:</span>
            <input type="text" value="{{ configuracao_inicial.auxilio_alimentacao | currency }}" disabled="disabled" style="text-align: right; font-weight:bold; background:#fff;"/>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Gratificação:
            </div>
            <select ng-model="gratificacao" ng-options="gratificacao.texto for gratificacao in configuracao_inicial.gratificacao">
              <option value=""></option>
            </select>
          </label>
          <label class="item item-input" ng-show="gratificacao.valor">
            <div class="input-label">
              Valor da Gratificação:
            </div>
            <input type="text" value="{{ gratificacao.valor | currency }}" disabled="disabled" style="text-align: right; font-weight:bold; background:#fff;" />
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Adicional Peric./Ins.
            </div>
            <select ng-model="periculosidade" ng-options="periculosidade.texto for periculosidade in configuracao_inicial.periculosidade_insalubridade" ng-change="getValorPericusolidade(periculosidade, vencimento_basico);">
              <option value=""></option>
            </select>
          </label>
          <label class="item item-input" ng-show="periculosidade.percentual">
            <div class="input-label">
              Valor do Adic. Peric./Ins.
            </div>
            <input type="text" value="{{ valor_periculosidade | currency }}" disabled="disabled" style="text-align: right; font-weight:bold; background:#fff;" />
          </label>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
